<div class="heading">
  <h1 class="title">Ad-Manage</h1>
</div>
<div class="navbar">

  <ul class="nav-lists">
    
    <li>
      <%= "ようこそ！"%>
      <%= link_to current_user.name, edit_user_path(current_user) %>
      <%= "様"%>
    </li>
    <li>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    </li>
  </ul>
</div>