<div class="heading">
  <h1 class="title">Ad-Manage</h1>
</div>
<div class="navbar">
  <ul class="nav-lists">
    <li>
      <a class="new_register_link" href="#">ユーザー登録</a>
    </li>
    <li>
      <a href="#">ログイン</a>
    </li>
    <li>
      <a class="new_register_link" href="#">ユーザー登録</a>
    </li>
    <li>
      <a href="#">ログイン</a>
    </li>
  </ul>
</div>