<div class="heading">
  <h1 class="title">Ad-Manage</h1>
</div>
<div class="navbar">

  <ul class="nav-lists">
    <li>
      <a class="new_register_link" href="#">Ad-Manageについて</a>
    </li>
    <li>
      <a href="#">Ad-Manage規定</a>
    </li>
    <li>
      <a class="new_register_link" href="#">ユーザー名</a>
    </li>
    <li>
      <a href="#">ログアウト</a>
    </li>
  </ul>
</div>