<div class="tool">
    <div class="tool-name">
      <a href="#">商品画像</a>
    </div>
  </div>
  <div class="tool">
    <div class="tool-name">
      <a href="#">商品名</a>
    </div>
</div>
<div class="tool">
    <div class="tool-name">
      <a href="#">商品内容</a>
    </div>
</div>
<div class="tool">
    <div class="tool-name">
      <a href="#">商品価格</a>
    </div>
</div>