<div class="tools">
<div class="tool">
    <div class="tool-name">
      <a href="#">商品画像</a>
    </div>
  </div>
  <div class="tool">
    <div class="tool-name">
      <a href="#">商品名</a>
    </div>
</div>
<div class="tool">
    <div class="tool-name">
      <a href="#">商品内容</a>
    </div>
</div>
<div class="tool">
    <div class="tool-name">
      <a href="#">商品価格</a>
    </div>   
</div>
<div class="create-item">
    <%= link_to "商材を登録する", new_item_path(@user), method: :get %>
  </div>
</div>  