<div class="heading">
  <h1>Ad-Manage　〜PDCA共有システム〜
  </h1>
  
</div>
<div class="navbar">

  <ul class="nav-lists">
  
    <li>
      <% if user_signed_in? %>
      <%= "ようこそ！#{current_user.name}樣" %>
      <% else %>
      <%= link_to "新規登録", new_user_registration_path, method: :get, class: 'btn' %>
      <% end %>
    </li>
    <li>
      <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'  %>
      <% else %>
      <%= link_to "ログイン", new_user_sessionn_path, method: :get, class: 'btn' %>
      <% end %>
    </li>
  </ul>
</div>