<div class="heading">
  <h1>Ad-Manage　〜PDCA共有システム〜
  </h1>
  
</div>
<div class="navbar">

  <ul class="nav-lists">
    
    <li>
      <%= "ようこそ！"%>
      
      <%= "様"%>
    </li>
    <li>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    </li>
  </ul>
</div>