<div class="manage-wrapper">
  <div class=all-media>
  <div class="media1">
    <div class="info1">
      <h11>Action</h11>
      <p>レスポンスをもとに改善・対策をしよう！</p>
      <a href="#">プロフィール</a>
    </div>
  </div>
  <div class="media2">
    <div class="info2">
      <h12>Plan</h12>
      <p>広告出稿のプランを立てよう！</p>
      <a href="#">プロフィール</a>
    </div>
  </div>
  <div class="media3">
    <div class="info3">
      <h13>Check</h13>
      <p>レスポンスを確認しよう！</p>
      <a href="#">プロフィール</a>
    </div>
  </div>
  <div class="media4">
    <div class="info4">
      <h14>Do</h14>
      <p>各媒体に広告を出稿しよう！</p>
      <a href="#">プロフィール</a>
    </div>
  </div>
  </div>
</div>