<div class="manage-wrapper">
  <div class=all-media>
  <div class="media1">
    <div class="info">
      <h4>アラン</h4>
      <p>(ローラン)</p>
      <a href="#">プロフィール</a>
    </div>
  </div>
  <div class="media2">
    <div class="info">
      <h4>アステア</h4>
      <p>(ラダトーム)</p>
      <a href="#">プロフィール</a>
    </div>
  </div>
  <div class="media3">
    <div class="info">
      <h4>アラン</h4>
      <p>(ローラン)</p>
      <a href="#">プロフィール</a>
    </div>
  </div>
  <div class="media4">
    <div class="info">
      <h4>アステア</h4>
      <p>(ラダトーム)</p>
      <a href="#">プロフィール</a>
    </div>
  </div>
  </div>
</div>