<div class="header">
        <%= render "shared/header_top" %>
      </div>  
    </div>  
    <div class="plan-info">  
      
      <%= render "shared/side_tools" %>
        
      <div class="plan-tool"> 
      <h4>「<%= @item.name %>」商材詳細</h4>
      <%= link_to '商材修正', edit_item_path(@item.id), method: :get, class: 'btn' %>
                
      </div>
        
    </div>    
