/* リセットCSS */
.register-page .register-page__inner {
  width: 700px;
  margin: 60px auto;
  padding: 30px;
  background-color: black;
  border: 3px solid #ddd;
  border-radius: 5px;
  
}
.register-page .register-page__inner .register-page__inner--left, .register-page .register-page__inner .register-page__inner--right {
  float: left;
  width: 40%;
  
}
.register-page .register-page__inner:after {
  clear: both;
  content: "";
  display: block;
  overflow: scroll;
}
.register-page .register-page__header h2 {
  margin-bottom: 5px;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 100;
  color:white;
}
.register-page .register-page__header h2:after {
  content: "";
  display: block;
  width: 30px;
  margin-top: 5px;
  
}
.register-page .register-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
  
}
.register-page .register-page__header .btn-h {
  margin-top: 20px;
  color: white;
  background-color:black;
  font-size: 14px;
}
.register-page .field {
  margin-bottom: 8px;
  
}
.register-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 200;
  color: #ddd;
}
.register-page .field .field- i {
  font-size: 11px;
  color: #ddd;
}
.register-page .field .field-input input {
  width: 100%;
  padding: 7px;
  letter-spacing: 1px;
  
}
.register-page .btn-h {
  display: inline-block;
  height: 45px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.register-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: white;
  background-color: grey;
}
.register-page .field- .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.register-page .field-input .field_with_errors {
  position: relative;
}
.register-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: white;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: white;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}
.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}

.main-item-index {
  height: 780px;
  width: 1150px;
  table-layout: auto;
  background: linear-gradient( 225deg, green, #c4fff7);
  text-align: center;
}

h3 {
 font-size: 24px;
 font-weight: bold;
}




thead, tbody {
  display: block;
  
}
tbody {
  overflow-x: hidden;
  overflow-y: scroll;
  
  height: 680px;
}
table th {
  padding: 2px;
  background-color: black;
  color: white;
  font-weight: bold;
  
}


table td {
  padding: 5px 10px;
}