/* リセットCSS */

.btn-h {
  display: inline-block;
  height: 45px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.register-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: white;
  background-color: grey;
}
.register-page .field- .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.register-page .field-input .field_with_errors {
  position: relative;
}
.register-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: white;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: white;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}
.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}

.main-item-index {
  background: linear-gradient( 135deg, aqua, #c4fff7);
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 50px);
  width: 100vw;
  
  background-color: white;
  text-align: center;
  color: black;

}

h3 {
 font-size: 24px;
 padding: 30px 0;
 font-weight: bold;
}

.item-index {
  width: 100%;
  height: calc(100vh - 50px);
  display: grid;
  justify-content: center;
  background: linear-gradient( 135deg, pink, #c4fff7);
  padding: 10px 0;
}

table {
  width: 100%;
  
}

td {
  padding: 5px, 10px;
  border-bottom: black 1px solid;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

thead, tbody {
  display: block;
  
}
tbody {
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: center;
  height: calc(100vh - 150px);;
}

.sarch-title{
  display: flex;
  height: 100px;
  justify-content: space-between;  
  padding: 0 50px;
  background: linear-gradient( 135deg, orange, #c4fff7);
}

.search-form{
  padding-top: 40px;
}

.btn-a,.btn-r ,.btn-b, .btn, a.btn, button.btn {
  font-size: 15px;
  font-weight: 450;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: black;
  border-radius: 0.5rem;
}







