/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  overflow-y: hidden;
}

a {
  font-size: 14px;
  color:white;
  margin: 0 auto;
  text-align: center;
  
}

a:hover {
	background-color:grey; 
}

h1, h2{
  font-size: 24px;
  color:white;
  
}

h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
  color: white;
  
}

.header {
  background-color: black;
  height: calc(100vh - 770px);
  padding: 10px 0;
  display: flex;
}

.heading {
  width: 70%;
  margin-left: 30px;
  
}

.navbar {
  width: 30%;
  padding: 20px;
}

.nav-lists {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

.main-wrapper {
  display: flex;
  
}

.side-tools, .introduction {
  background-color: black;
  width: calc(100vw - 1150px);
  height: 770px;
  padding: 0 10px;
  border: white solid 3px;
  display: flex;

}

.tool1 {
  display: flex;
  height: 80%;
  flex-flow: column;
  justify-content:space-evenly;
  padding: 20px 30px;
}
.tool2 {
  height: 20%;
  flex-flow: column;
  justify-content:space-evenly;
  padding: 20px 30px;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.tool-name a {
  text-decoration: none;
  color: white;
}

.create-item a {
  font-size: 20px;
  border-bottom: 1px solid lightgray;
  padding: 14px;
  color:white;
  text-decoration: none;
  
}
 

.main-manage {
  background: linear-gradient( 45deg, #7bc6e2, #c4d4ff);
  width: 1150px;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manage-wrapper{
  display: flex;
  flex-wrap: wrap
}

.all-media{
  height: 780px;
  width: 1150px;
  display: flex;
  flex-wrap: wrap;
}

.media1 {
  height: 385px;
  width: 575px;
  background: linear-gradient( 135deg, red, #c4fff7);
  
}
.media2 {
  height: 385px;
  width: 575px;
  background: linear-gradient( 225deg, green, #c4fff7);
  

}
.media3 {
  height: 395px;
  width: 575px;
  background: linear-gradient( 45deg, yellow, #c4fff7);

}
.media4 {
  height: 395px;
  width: 575px;
  background: linear-gradient( 315deg, blue,#c4fff7);

}

h11{
  font-size: 30px;
  font-weight: bold;

}
h12{
  font-size: 30px;
  font-weight: bold;
}
h13{
  font-size: 30px;
  font-weight: bold;
}
h14{
  font-size: 30px;
  font-weight: bold;
}

