/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

a {
  font-size: 14px;
  color:white;
  margin: 0 auto;
  text-align: center;
}

h1,h2{
  font-size: 24px;
  color:white;
  margin: 0 auto;
}

h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
  color: white;
  
}

.header {
  background-color: black;
  height: 50px;
  padding: 10px 0;
  display: flex;
}

.heading {
  width: 70%;
  margin-left: 30px;
}

.navbar {
  width: 30%;
  padding: 20px;
}

.nav-lists {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

.main-wrapper {
  display: flex;
  overflow: scroll;
}

.side-tools {
  background-color: black;
  width: 250px;
  height: calc(100vh - 50px);
  padding: 0 10px;
  border: white solid 3px;
  display: flex;

}



.tool1 {
  display: flex;
  height: 80%;
  flex-flow: column;
  justify-content:space-evenly;
  padding: 20px 30px;
}
.tool2 {
  height: 20%;
  flex-flow: column;
  justify-content:space-evenly;
  padding: 20px 30px;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.tool-name a {
  text-decoration: none;
  color: white;
}

.create-item a {
  font-size: 20px;
  border-bottom: 1px solid lightgray;
  padding: 14px;
  color:white;
  text-decoration: none;
  
}
 

.main-manage {
  background-color: floralwhite;
  width: calc(100vw - 250px);
  overflow: scroll;
  
}
