.plan-new  h1 {
  color: black;
  font-weight: bold;
  display: flex;
  text-align: center
}

.plan-new {
  text-align: center;
  flex-direction: column;
  padding: 10px ;
  
}

.btn{
  display: block;
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
  
}

.plan-box{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  flex-wrap: wrap;
  
}

.target-select, .media-select, .title{
  font-size: 16px;
  border: 1px solid;
  padding: 5px;
  background-color: lightblue;
  margin: 5px;
  width: 450px;
  text-align: center;
}

.plan-info {
  padding: 5px;
  height: 780px;
  width: 1150px;
  table-layout: auto;
  background: linear-gradient( 225deg,white, #c4fff7);
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.item-plan {
  display: inline-flex;
}

.detail-item {
  color: black;
  background: linear-gradient( 225deg,white, #c4fff7);
}

.item-show{
  padding: 50px 60px;
}

.detail-value {
  width: 450px;
}

.plan-show {
  height: 350px;
  padding: 20px 70px;
}

.statis {
  padding: 20px;
}