/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  overflow-y: hidden;
  
}

a {
  font-size: 14px;
  color: black;
  margin: 0 auto;
  text-align: center;
}

.heading a {
  font-size: 20px;
  color:white;
}

p{
  font-size: 14px;
  color:white;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}

a:hover {
	background-color:grey; 
}

h1, h2{
  font-size: 24px;
  color:white;
  
}



ul,li {
  padding-bottom: 15px;
  color: black;
  padding: 0;
}

li{
  padding-bottom: 5px;
}

.header {
  background-color: black;
  height: 50px;
  display: flex;
  
}

.header a{
  color: aliceblue;
  text-decoration: none;
}

.heading {
  width: 70%;
  margin-left: 30px;
  
}

.navbar {
  width: 30%;
  list-style-type:none
}

.nav-lists {
  display: flex;
  justify-content: space-around;
  list-style-type:none
}

.nav-lists li  {
  color: white;
  marker: none;
  list-style-type:none
}




.tool1 {
  display: flex;
  height: calc(100vh - 50px);
  flex-flow: column;
  justify-content:space-evenly;
  
}
.tool2 {
  height: 20%;
  flex-flow: column;
  justify-content:space-evenly;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.tool-name a {
  text-decoration: none;
  color: white;
}

.create-item a {
  font-size: 20px;
  border-bottom: 1px solid lightgray;
  padding: 14px;
  color:white;
  text-decoration: none;
  
}
 

.main-manage {
  background: linear-gradient( 45deg, #7bc6e2, lightskyblue);
  width: 100vw;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manage-wrapper{
  display: flex;
  flex-wrap: wrap
}

.all-media{
  height: 770px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.media1 {
  height: 385px;
  width: 50vw;
  
}
.media2 {
  height: 385px;
  width: 50vw;
  background: linear-gradient( 225deg, green, #c4fff7);
  

}
.media3 {
  height: 385px;
  width: 50vw;
  background: linear-gradient( 45deg, yellow, #c4fff7);

}
.media4 {
  height: 385px;
  width: 50vw;
  background: linear-gradient( 315deg, blue,#c4fff7);

}

h11{
  font-size: 30px;
  font-weight: bold;

}
h12{
  font-size: 30px;
  font-weight: bold;
}
h13{
  font-size: 30px;
  font-weight: bold;
}
h14{
  font-size: 30px;
  font-weight: bold;
}

