
      <div class="header">
        <%= render "shared/header_top" %>
      </div>  
    
    <div class="main-wrapper">  
      <div class="side-tools">
        <%= render "shared/side_tools"%>
      </div>

      
      <div class="main-item-index">
      


      </div>

    </div>
